# Alteryx One
AYX_ACCOUNT_EMAIL=your.name@company.com
AYX_ONE_BASE_URL=https://api.us1.alteryxcloud.com
AYX_ONE_OAUTH_CLIENT_ID=af1b5321-afe0-48c2-966a-c77d74e98085
AYX_ONE_TOKEN_ENDPOINT_URL=https://pingauth.alteryxcloud.com/as
AYX_ONE_API_ACCESS_TOKEN=topsecret
AYX_ONE_API_REFRESH_TOKEN=topsecret


# On prem Alteryx Server
AYX_SERVER_BASE_URL=http://localhost/webapi/
AYX_SERVER_API_KEY=replace-with-server-api-key
AYX_SERVER_API_SECRET=replace-with-server-api-secret
AYX_MONGO_MANAGED_PASSWORD=replace-with-mongo-password
AYX_SQL_CONTROLLER_PASSWORD=replace-with-controller-sql-password
AYX_SQL_SERVER_UI_PASSWORD=replace-with-server-ui-sql-password
